$darkBlue: #26478d;
$red: #bb0048;
$violet: #632678;

$primaryColor: #26478d;
$primaryErrorColor: #bb0048;

h1, h2 {
    color: $darkBlue;
}

.primaryBlue{
    color: $darkBlue;
}

.primaryViolet{
    color: $violet;
}