/* Company Logo*/

.CompanyLogo {
    display: inline-block;
    background: url("../../img/Company/Company-icons.svg");
    height:44px;
    width: 127.75px;
    background-position: 47.554552294959% 0;
    background-size: 360.0782778865% 10320.454545455%;
    margin-left:10px;
}