.sbtn{
    font-size: .8rem;
    padding: .85rem 2.13rem;
    border-radius: 2px;
    border: 0;
    color: #fff!important;
    margin: 6px;
    white-space: normal!important;
    word-wrap: break-word;
    text-transform: uppercase;
    transition: .2s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
}

.sbtn .sbtn-inner{
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1.1rem;
    position: relative;
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
}

.sbtn .left {
    margin-right: 3px;
}

.sbtn-inner-facebook:before {
    content: "\f09a";
}

.sbtn-inner-googlePlus:before {
    content: "\f0d5";
}

.sbtn-inner-linkedIn:before {
    content: "\f0e1";
}

.sbtn-facebook {
    background-color: #3B5998!important;
}

.sbtn-googlePlus {
    background-color: #DD4B39!important;
}

.sbtn-linkedIn {
    background-color: #0082CA!important;
}