.signupPage{
    height: 100%;
    background-image: url("../../img/Company/womanSurfer.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}